@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model TicketManagement.Web.Models.ChangePassView

<form method="post" asp-controller="Client" asp-action="ChangePassword">
    <div class="text-center">
        <h2>@Localizer["Title"]</h2>
        <div asp-validation-summary="ModelOnly"></div>
        <div id="passDiv">
            <label id="errors" class="errors"></label>
            <label class="control-label">@Localizer["Password"]</label><br />
            <input asp-for="Password" id="password" />
            <span asp-validation-for="Password"></span>
        </div>
        <hr />
        <div>
            <input type="submit" value="@Localizer["Save"]" id="acceptPass" class="acceptPass" />
        </div>
    </div>
</form>