@model TicketManagement.Web.Models.ClientView 

<form method="post" asp-controller="Client" asp-action="ChangeData">
    <div class="text-center">
        <h2>Профиль</h2>
        <div asp-validation-summary="ModelOnly"></div>
        <input asp-for="Id" id="id" style="display:none;"/>
        <div id="emailDiv">
            <label asp-for="Email"></label><br />
            <input asp-for="Email" id="email" readonly="readonly" />
            <span asp-validation-for="Email"></span>
        </div>
        <div id="surnameDiv">
            <label asp-for="Surname"></label><br />
            <input asp-for="Surname" id="surname" readonly="readonly" />
            <span asp-validation-for="Surname"></span>
        </div>
        <div id="nameDiv">
            <label asp-for="FirstName"></label><br />
            <input asp-for="FirstName" id="firstName" readonly="readonly" />
            <span asp-validation-for="FirstName"></span>
        </div>
        <div id="langDiv">
            <label asp-for="Language"></label><br />
            <select asp-for="Language" id="language">
                <option>Беларуская</option>
                <option>Русский</option>
                <option>English</option>
            </select>
        </div>
        <div id="balanceDiv">
            <label asp-for="Balance"></label><br />
            <input type="number" asp-for="Balance" id="balance" readonly="readonly" min=@ViewBag.balance />
            <span asp-validation-for="FirstName"></span>
        </div>
        <hr />
        <div>
            <input type="button" value="Изменить данные" id="changeData" class="changeData" onclick="ChangeData()" />
            <input type="submit" value="Сохранить изменения" id="acceptData" style="display:none;" />
        </div>
        <button formmethod="get" asp-controller="Client" asp-action="ChangePassword" asp-route-id=@ViewBag.id id="changePass">Изменить пароль</button>
    </div>
</form>
<table class="text-center">
    <thead>
        <tr>
            <td>
                <a asp-action="Index" asp-route-type="Id">Id</a>
            </td>
            <td>
                <a asp-action="Index" asp-route-type="client">Название клиента</a>
            </td>
            <td>
                <a asp-action="Index" asp-route-type="furnit">Название мебели</a>
            </td>
            <td>
                <a asp-action="Index" asp-route-type="count">Кол-во мебели</a>
            </td>
            <td>
                <a asp-action="Index" asp-route-type="price">Цена</a>
            </td>
            <td>
                <a asp-action="Index" asp-route-type="disc">Скидка</a>
            </td>
            <td>
                <a asp-action="Index" asp-route-type="isComp">Выполнен?</a>
            </td>
            <td>
                <a asp-action="Index" asp-route-type="empl">ФИО сотрудника</a>
            </td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Tickets != null)
        {
            @foreach (var elem in Model.Tickets)
            {
                <tr>
                    <td>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<script type="text/javascript">
    function ChangeData() {
        $("#email").prop("readonly", false);
        $("#surname").prop("readonly", false);
        $("#firstName").prop("readonly", false);
        $("#balance").prop("readonly", false);
        document.getElementById("changeData").style.display = "none";
        document.getElementById("acceptData").style.display = "initial";
        document.getElementById("changePass").style.display = "none";
    }
</script>