.block_a
{ 
	width: 200px;
	height: 200px;
	left: 5%;
	overflow: hidden;
	transition: 0.3s; 
	position: relative;
	color: #fff; 
}
.block_a p
{
	visibility: hidden;
}
.block_a:hover
{
	background-color: rgba(0, 0, 0, 0.65); 
}
.block_a:hover p
{
	transition: 0.3s;
	font-size: 10px;
	visibility: visible;
	font-family:Monotype Corsiva;
	font-style:italic;
}
.block_a:hover img
{
	transform: scale(1.1);
	filter: blur(4px); 
}