@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item nav-link">
            <label>Здравствуйте, </label>
            <a asp-controller="Client" asp-action="Index">@User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link" style="color:black;">Выход</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link regItem" style="color:black;" asp-controller="Account" asp-action="Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link logItem" style="color:black;" asp-controller="Account" asp-action="Login">Вход</a>
        </li>
    }
</ul>